<mat-card>
    <mat-card-title>Mapa</mat-card-title>
    <mat-card-content>
        <google-map (mapClick)="addMarker($event)" width="100%" height="450px" [center]="center" [options]="options">
            <map-marker #markerElem [options]="markerOptions" *ngFor="let markerPosition of markerPositions; let i = index" [position]="markerPosition.coords" [label]="label" [title]="title" (mapClick)="openInfoWindow(markerElem, i)" (mapRightclick)="removeLastMarker()">
            </map-marker>
            <map-info-window [options]="infoOptions">
                <div *ngIf="activeMarkerBoolean">
                    <h5>
                        {{markerPositions[activeMarker].title}} {{activeMarker}}
                    </h5>
                    <p>
                        {{markerPositions[activeMarker].description}}
                    </p>
                    <button mat-flat-button color="accent" id="boton">Editar</button>
                    <button mat-flat-button color="warn" (click)="eraseMarker(activeMarker)">Borrar</button>
                </div>
            </map-info-window>

        </google-map>
    </mat-card-content>
</mat-card>
